# Git
.git
.gitignore

# Ambientes virtuais (raiz)
venv/
.venv/
**/venv/
**/.venv/

# Ambientes virtuais dentro das automações
automation_jobs/*

# Mas manter a pasta
!automation_jobs/

# Cache Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de banco locais
*.sqlite3
*.db

# Arquivos temporários
*.log
*.tmp

# OneDrive "lixos"
~$*
Thumbs.db
Desktop.ini
